body { background-color: cornsilk;

}


.white-box {
    background-color: white;
    color: white;
}
    
    
.blue-box {
    background-color: lightskyblue;
    color: black;

}

.white-box{
    background-color: white;
    color: white;
}
.table {
    min-width: 0pxs;
}
