body { background-color: cornsilk;

}


.white-box {
    background-color: white;
    color: white;
}
    
    
.blue-box {
    background-color: white;
    color: black;

}

.white-box {
    background-color: white;
    color: white;
}